<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bingo Universe - OTP Verification</title>
</head>

<body>
  <div>
    <p>
      Welcome to Bingo Universe
    </p>
    <div>
      <p>
        You're just one step away from joining the exciting Bingo Universe! Enter the OTP below to complete your
        registration:
      </p>
      <p>Your OTP is: <strong>
          <%= otp %>
        </strong></p>
      <p>
        If you didn't request this OTP, please ignore this email.
      </p>
    </div>
  </div>
</body>

</html>